form {
    margin: auto;
    display: grid;
    grid-template-columns: 0.1fr 0.6fr;
    grid-gap: 16px;
}

label {
    grid-column: 1 / 2;
}
 
input, button {
    grid-column: 2 / 3;
}

input[type="submit"] {
    width: 30%;
}

.errorlist, .nofield {
    display: block;
    grid-column: 1/3;
}
