form {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-gap: 16px
}

label {
    grid-column: 1 / 2;
}
 
input, button {
    grid-column: 2 / 3;
}

input[type="submit"] {
    min-width: 160px;
    width: 30%;
}
