{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Amadventure - {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static '/styles/base.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <h1>Amadventure</h1>
            </div>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="">Home</a></li>
                        <li><a href="">Hero</a></li>
                        <li><a href="">Locations</a></li>
                        <li><a href="{% url 'usersystem:sign_out' %}">Sign out</a></li>
                    {% else %}
                        <li><a href="{% url 'usersystem:sign_in' %}">Sign in</a></li>
                        <li><a href="{% url 'usersystem:sign_up' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                Created by: 
            </footer>
            {% block scripts %}{% endblock %}
        </div>
    </body>
</html>