.container {
    display: grid;
    grid-template-rows: [logo] 0.5fr [nav] 0.5fr [main] 4fr [footer] 1fr [end-footer];
    grid-template-columns: 10px [main] 1fr [end-main] 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    grid-row: logo / nav;
    grid-column: main / end-main;
    text-align: center;
}

nav {
    grid-row: nav / main;
    grid-column: main / end-main;
    background-color: #1A9A8B;
    width: 100%;
}

nav ul li a {
    color: #8C2425;
    text-decoration: none;
    margin: 0px;
}
nav ul li a:hover {
    background-color: #E9262C;
}

main {
    grid-row: main / footer;
    grid-column: main / end-main;
    width: 100%;
}

footer {
    grid-row: footer / end-footer;
    grid-column: main / end-main;
    width: 100%;
}
