body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container {
    display: grid;
    grid-template-rows: [logo] 0.5fr [nav] 0.5fr [main] 4fr [footer] 0.1fr [end-footer];
    grid-template-columns: [main] 1fr [end-main];
    margin: 0 auto;
}

.logo {
    grid-row: logo / nav;
    grid-column: main / end-main;
    text-align: center;
}

nav {
    grid-row: nav / main;
    grid-column: main / end-main;
    background-color: #1c7773;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-auto-rows: 1fr;
}

nav ul li a {
    color: #8C2425;
    text-decoration: none;
    margin: 0px;
}
nav ul li a:hover {
    background-color: #E9262C;
}

main {
    padding: 30px 0 30px;
    grid-row: main / footer;
    grid-column: main / end-main;
    background-color: #cecece;
}

footer {
    grid-row: footer / end-footer;
    grid-column: main / end-main;
    width: 100%;
    background-color: #1c7773;
}
