{% extends 'base.html' %}
{% load static %}

{% block title %}Hero - {{ hero.name }}{% endblock %}

{% block content %}
    <h2>{{ hero.name }}</h2>
    <!-- works only if user have only one hero, otherwise its useless-->
    {% if request.user != hero.user %}
        <a href="{% url 'game:hero_fight' defender_pk=hero.pk %}">Fight</a>
    {% else %}
        <a class="delete" href="{% url 'game:hero_delete' pk=hero.pk %}">Delete</a>
    {% endif %}
    {% for statistic in statistics %}
    <p>{{ statistic.name }}: {{ statistic.value }}</p>
    {% endfor %}
    
{% endblock %}